<div id="contenedor">
  <div class="investment-form">

    <section class="indicaciones">
      <h1 class="text-center">Calculadora de Interés Compuesto</h1>
      <h3 class="text-center instrucciones">
        Calcula el monto que podrías generar al realizar una inversión como Inversionista Independiente.
      </h3>
    </section>

    <form #investmentForm="ngForm">
      <mat-form-field appearance="fill" class="form-item">
        <mat-label>Inversión Inicial</mat-label>
        <input matInput 
          [(ngModel)]="investmentData.initialInvestment"
          #initialInvestment="ngModel"
          name="initialInvestment" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-item">
        <mat-label>Aportación anual</mat-label>
        <input matInput 
          [(ngModel)]="investmentData.yearlyInput"
          #yearlyInput="ngModel"
          name="yearlyInput">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-item">
        <mat-label>% Incremento a aportación anual</mat-label>
        <input matInput 
          [(ngModel)]="investmentData.yearlyInputIncrement"
          #yearlyInputIncrement="ngModel"
          name="yearlyInputIncrement">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-item">
        <mat-label>Años de inversión</mat-label>
        <input matInput 
          [(ngModel)]="investmentData.investmentYears"
          #investmentYears="ngModel"
          name="investmentYears" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-item">
        <mat-label>Rendimiento de la inversión</mat-label>
        <input matInput 
          [(ngModel)]="investmentData.investmentYield"
          #investmentYield="ngModel"
          name="investmentYield" required>
      </mat-form-field>

      <button mat-raised-button color="primary" 
        class="form-item" 
        (click)="createSimulation()">Calcular</button>

    </form>
  </div>

  <div class="resultado">
    <h1 class="text-center">Resumen del resultado de inversión</h1>
    
    <p><b>Ganancia por inversión:</b> {{revenue | balanceFormat}}</p>
    <p><b>Saldo final:</b> {{finalBalance | balanceFormat}}</p>

    <h1 class="text-center">Tabla de rendimiento</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-hover tabla-resultado">
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <ng-container matColumnDef="Año">
        <th mat-header-cell *matHeaderCellDef >Año</th>
        <td mat-cell *matCellDef="let element" class="mat-header-cell"> {{element.investmentYear}} </td>
      </ng-container>

      <ng-container matColumnDef="Inversión">
        <th mat-header-cell *matHeaderCellDef >Inversión</th>
        <td mat-cell *matCellDef="let element" class="mat-header-cell"> {{element.initialInvestment | balanceFormat}} </td>
      </ng-container>

      <ng-container matColumnDef="Incremento">
        <th mat-header-cell *matHeaderCellDef >Incremento</th>
        <td mat-cell *matCellDef="let element" class="mat-header-cell"> {{element.yearlyInput | balanceFormat}} </td>
      </ng-container>

      <ng-container matColumnDef="Rendimiento">
        <th mat-header-cell *matHeaderCellDef >Rendimiento</th>
        <td mat-cell *matCellDef="let element" class="mat-header-cell"> {{element.investmentYield | balanceFormat}} </td>
      </ng-container>

      <ng-container matColumnDef="Saldo Final">
        <th mat-header-cell *matHeaderCellDef >Saldo Final</th>
        <td mat-cell *matCellDef="let element" class="mat-header-cell"> {{element.finalBalance | balanceFormat}} </td>
      </ng-container>

    </table>
  </div>
</div>